<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.easybuy.dao.product.ProductMapper">
    <!--根据Type查询分类-->
    <select id="getCategoryByType" resultType="Category">
        select * from easybuy_product_category where TYPE = #{type}
             and parentId = #{parentId}
         group by id;
    </select>

    <!--根据id查询类型下的商品列表-->
    <select id="getCategoryAndProductById" resultType="Product">
        select p.*
        from easybuy_product as p INNER JOIN easybuy_product_category as c on p.categoryLevel1 = c.id
         or p.categoryLevel2 = c.id  or p.categoryLevel3 = c.id
        where c.id = #{id}
    </select>
</mapper>